Discord_ModBot_scheldwoorden_filter.json
{
  "name": "Discord ModBot scheldwoorden filter",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf9135e-ab1f-4479-add7-5baa0d1a14d6",
              "leftValue": "={{ $('Bit Discord Trigger').item.json.content }}",
              "rightValue": "={{ $json.woord }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        0
      ],
      "id": "0f6f5648-e851-42b5-98db-81343454f81f",
      "name": "Check voor scheldwoorden"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1166332398435307591",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1333736800501370901",
          "mode": "id"
        },
        "content": "Schelden is niet toegestaan op deze discord server. Wees lief tegen anderen.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        840,
        0
      ],
      "id": "c69201fe-06d5-4bfe-9cb7-2f698ab9f0ba",
      "name": "Stuur een waarschuwing",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "dYypzBraCMLWZgnp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "216d7b45-8bb9-4833-8690-b23847addd14",
              "leftValue": "={{ $('Update aantal waarschuwingen').item.json.waarschuwingen }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        -100
      ],
      "id": "f3582ed7-f0dc-4c71-a543-0916841a9116",
      "name": "Check of het meer of gelijk aan 5 is",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1166332398435307591",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1333736800501370901",
          "mode": "id"
        },
        "content": "={{ $('Bit Discord Trigger').item.json.authorName }}, je hebt op dit moment al {{ $json.waarschuwingen }} waarchuwingen!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1940,
        -100
      ],
      "id": "af57aaf8-00bc-411d-9f1a-a25257e48f81",
      "name": "Laat weten hoveel waarschuwingen de gebruiker al heeft",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "dYypzBraCMLWZgnp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1166332398435307591",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1333736800501370901",
          "mode": "id"
        },
        "content": "Dit is je eerste waarschuwing. Bij 5 waarschuwingen wordt je uit dit kanaal gezet!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1720,
        100
      ],
      "id": "6e98f409-0616-4f1e-8b70-ec5fc78ae5c1",
      "name": "Stuur een waarschuwing info bericht",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "dYypzBraCMLWZgnp",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "Disord trigger here\n",
        "height": 180,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        -40
      ],
      "id": "77e245c9-f8f0-4ec4-be0f-cd92315b9cf4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "roleRemove",
        "guildId": {
          "__rl": true,
          "value": "1166332398435307591",
          "mode": "list",
          "cachedResultName": "ModBot Test Server",
          "cachedResultUrl": "https://discord.com/channels/1166332398435307591"
        },
        "userId": {
          "__rl": true,
          "value": "={{ $('Bit Discord Trigger').item.json.authorId }}",
          "mode": "id"
        },
        "role": [
          "1333736832558567474"
        ]
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2380,
        -140
      ],
      "id": "33f84f64-67cb-4814-b0c4-436661c62da0",
      "name": "Discord",
      "credentials": {
        "discordBotApi": {
          "id": "vUrE6aKYyQfvVRWO",
          "name": "ModBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "scheldwoorden",
          "mode": "list",
          "cachedResultName": "scheldwoorden"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        0
      ],
      "id": "faa3f94e-bd69-4cbd-a3a7-0c3f2e0d52b8",
      "name": "Laad scheldwoorden",
      "credentials": {
        "postgres": {
          "id": "00T0QTTOZuwYraNY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatters",
          "mode": "list",
          "cachedResultName": "chatters"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Bit Discord Trigger').item.json.authorId }}",
            "waarschuwingen": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "waarschuwingen",
              "displayName": "waarschuwingen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        100
      ],
      "id": "fa7d6bbe-1fef-4398-85e5-4f27403e8038",
      "name": "Voeg chatter toe aan tabel",
      "credentials": {
        "postgres": {
          "id": "00T0QTTOZuwYraNY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatters",
          "mode": "list",
          "cachedResultName": "chatters"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Bit Discord Trigger').item.json.authorId }}",
            "waarschuwingen": "={{ $json.waarschuwingen + 1 }}"
          },
          "matchingColumns": [
            "userID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "waarschuwingen",
              "displayName": "waarschuwingen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1720,
        -100
      ],
      "id": "487e3303-bf65-4077-a781-3d921f854ef8",
      "name": "Update aantal waarschuwingen",
      "credentials": {
        "postgres": {
          "id": "00T0QTTOZuwYraNY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatters",
          "mode": "list",
          "cachedResultName": "chatters"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "userID",
              "value": "={{ $('Bit Discord Trigger').item.json.authorId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        -100
      ],
      "id": "d408376f-a302-48f8-a896-fb5f2684dbcc",
      "name": "Laad individuele chatter",
      "credentials": {
        "postgres": {
          "id": "00T0QTTOZuwYraNY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatters",
          "mode": "list",
          "cachedResultName": "chatters"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "userID",
              "value": "={{ $('Bit Discord Trigger').item.json.authorId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        0
      ],
      "id": "c754979b-d246-4cf2-baaa-b1a6f5974c04",
      "name": "Laad chatter",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "00T0QTTOZuwYraNY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "399373ac-a2a3-4eed-8882-fafd5b029083",
              "leftValue": "={{ $json.userID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        0
      ],
      "id": "552b3e43-5d4c-4341-9d22-5464cdc6fec3",
      "name": "Check of incoming data NULL is"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-bit-discord.bitDiscordTrigger",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "aeceb4b7-d9b1-40cd-9d75-72542db6dca9",
      "name": "Bit Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "I1OWmMtC4D1hqelQ",
          "name": "Discord Bot Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check voor scheldwoorden": {
      "main": [
        [
          {
            "node": "Stuur een waarschuwing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Stuur een waarschuwing": {
      "main": [
        [
          {
            "node": "Laad chatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check of het meer of gelijk aan 5 is": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laat weten hoveel waarschuwingen de gebruiker al heeft": {
      "main": [
        [
          {
            "node": "Check of het meer of gelijk aan 5 is",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laad scheldwoorden": {
      "main": [
        [
          {
            "node": "Check voor scheldwoorden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voeg chatter toe aan tabel": {
      "main": [
        [
          {
            "node": "Stuur een waarschuwing info bericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update aantal waarschuwingen": {
      "main": [
        [
          {
            "node": "Laat weten hoveel waarschuwingen de gebruiker al heeft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laad individuele chatter": {
      "main": [
        [
          {
            "node": "Update aantal waarschuwingen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laad chatter": {
      "main": [
        [
          {
            "node": "Check of incoming data NULL is",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check of incoming data NULL is": {
      "main": [
        [
          {
            "node": "Laad individuele chatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voeg chatter toe aan tabel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bit Discord Trigger": {
      "main": [
        [
          {
            "node": "Laad scheldwoorden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17d8d984-5cab-4c54-b314-30ad7f4e81e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ded4f54648ed00a57e25eaa9c0a8d18719db51845c4893825285023399a6d959"
  },
  "id": "dCXBlaXyg3O2SVw9",
  "tags": []
}